@font-face {
  font-family: "DM Sans 36pt";
  src: url("../font/DMSans36pt-Medium.woff2") format("woff2"), url("../font/DMSans36pt-Medium.woff") format("woff"), url("../font/DMSans36pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNowText";
  src: url("../font/HelveticaNowText-Light.woff2") format("woff2"), url("../font/HelveticaNowText-Light.woff") format("woff"), url("../font/HelveticaNowText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("../font/DMSans36pt-Regular.woff2") format("woff2"), url("../font/DMSans36pt-Regular.woff") format("woff"), url("../font/DMSans36pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans 36pt";
  src: url("../font/DMSans36pt-Light.woff2") format("woff2"), url("../font/DMSans36pt-Light.woff") format("woff"), url("../font/DMSans36pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  background: #fff;
  padding: 20px 0;
}
header .headerItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .headerItems .logowrap {
  max-width: 272px;
}
header .headerItems .logowrap a {
  display: block;
}
header .headerItems .nav-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}
header .headerItems .nav-links .headerlink {
  padding: 7px 40px;
  font-size: 25px;
  font-family: "DM Sans 36pt";
  text-decoration: none;
  line-height: 1;
  border-radius: 14px;
  font-weight: 400;
  transition: background-color 0.4s ease, color 0.4s ease;
  color: #000;
}
header .headerItems .nav-links .headerlink.active {
  color: #fff;
  background-color: red;
}
header .headerItems .nav-links .headerlink:hover {
  color: #fff;
  background-color: red;
}

.banner-section {
  position: relative;
}
.banner-section .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 90px;
}
.banner-section .wrapper .container {
  height: 100%;
}
.banner-section .wrapper .container .banner-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: end;
  height: 100%;
}
.banner-section .wrapper .container .banner-content .btn-typ1 {
  flex-grow: 0;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 6px 20px;
}

.what-we-provide {
  background: linear-gradient(to bottom, #42402B 50%, #fff 50%);
  padding: 50px 0;
}
.what-we-provide .hd-typ1 {
  font-size: 40px;
  font-family: "DM Sans 36pt";
  font-weight: 400;
  line-height: 1.25;
}
.what-we-provide .intro-txt {
  margin-top: 30px;
  font-family: "DM Sans 36pt";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}
.what-we-provide .img-wrap {
  margin: 50px -15px 0;
}
.what-we-provide .img-wrap .cols {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  padding: 0 15px;
  width: 22.778%;
}
.what-we-provide .img-wrap .cols:first-child {
  width: 51.62%;
}
.what-we-provide .img-wrap .cols .item {
  border-radius: 20px;
  overflow: hidden;
}
.what-we-provide .img-wrap .cols .btn-typ2 {
  padding: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: #fff;
  font-family: "DM Sans 36pt";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 20px;
  outline: none;
  border: 1px solid #4E4E4E;
}

.service-section {
  text-align: center;
}

@media (min-width: 1699px) {
  .container {
    max-width: 1598px;
    padding: 0;
  }
  .what-we-provide {
    background: linear-gradient(to bottom, #42402B 50%, #fff 50%);
    padding: 50px 0;
  }
  .what-we-provide .hd-typ1 {
    font-size: 40px;
    font-family: "DM Sans 36pt";
    font-weight: 400;
    line-height: 1.25;
  }
  .what-we-provide .intro-txt {
    margin-top: 30px;
    font-family: "DM Sans 36pt";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
  }
  .what-we-provide .img-wrap {
    margin: 50px 0 0;
    gap: 30px;
  }
  .what-we-provide .img-wrap .cols {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    width: 22.778%;
  }
  .what-we-provide .img-wrap .cols:first-child {
    width: 810px;
    height: 532px;
  }
  .what-we-provide .img-wrap .cols:first-child .item {
    overflow: hidden;
    height: 100%;
  }
  .what-we-provide .img-wrap .cols:first-child .item img {
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .what-we-provide .img-wrap .cols:nth-child(2) .item {
    height: 245px;
    overflow: hidden;
  }
  .what-we-provide .img-wrap .cols:nth-child(2) .item img {
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .what-we-provide .img-wrap .cols .item {
    border-radius: 20px;
    overflow: hidden;
  }
  .what-we-provide .img-wrap .cols .btn-typ2 {
    padding: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #fff;
    font-family: "DM Sans 36pt";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    border-radius: 20px;
    outline: none;
    border: 1px solid #4E4E4E;
  }
}/*# sourceMappingURL=newStyle.css.map */